body {
  background: #f3f3f3;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
/* typography style start  */
h1 {
  font-size: 60px;
  font-style: 700;
  color: #575757;
  line-height: 130%;
}
h2 {
  font-size: 40px;
  color: #707070;
  line-height: 54px;
}
h3 {
  font-size: 28px;
  color: #18191f;
}
p {
  font-size: 20px;
  line-height: 32px;
}
/* typography style end */

.flexible-section {
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
}

/* top banner section start  */
.half-width {
  width: 50%;
  padding-left: 3%;
}
.half-width img {
  width: 80%;
}
.blue-color {
  color: #13b5fd;
}
.button-blue {
  display: inline-block;
  color: #fff;
  padding: 24px 32px;
  background: linear-gradient(88.33deg, #13b5fd -7.64%, #000087 145.94%);
  box-shadow: 0px 2px 30px rgba(18, 179, 251, 0.5);
  border-radius: 100px;
  margin-top: 40px;
}
.button-blue:hover {
  background: linear-gradient(88.33deg, #000087 -7.64%, #13b5fd 145.94%);
}
/* top banner section end */

/* about me section start  */
.about-me {
  background-image: url(images/Frame\ .jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6%;
}
.about-me p {
  width: 80%;
}
/* about me section end */

/* Recipies Section start  */
.heading {
  text-align: center;
}
.heading p {
  width: 50%;
  margin: auto;
}
.box-design {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 0px 54px;
  padding: 1%;
}
.box-design img {
  width: 100%;
}
/* Recipies Section end */

/* Social section start  */
.social-area {
  justify-content: space-around;
  margin: 150px 54px;
  padding: 64px 165px;
}
.social h2 {
  color: #000;
  line-height: 0;
}
/* Social section end */

/*============================ Extra sections=====================*/

/* Newsletter Section start  */
.newsletter {
  text-align: center;
  padding: 5% 0;
}
.newsletter input {
  padding: 20px 88px;
  border-radius: 10px;
  margin-top: 40px;
}
input:focus {
  outline: none;
}
.extra {
  border-radius: 10px;
  padding: 20px 28px;
}
/* Newsletter Section end */

/* Contact us section start */
.contact-area {
  background-image: url(images/Frame\ contact\ area.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  padding: 5%;
}
.contact-area h2 {
  text-align: center;
}
textarea {
  font-size: 18px;
  padding: 15px 180px;
  border-radius: 10px;
}
.form input {
  font-size: 18px;
  padding: 15px 180px;
  border-radius: 10px;
}
/* Contact us section end */

/* footer area start */
footer {
  background-color: #0b0d17;
  padding: 5%;
  text-align: center;
}
footer h3 {
  color: #707070;
  font-size: 30px;
}
footer p {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}
/* footer area end */
