body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
/* typography style start  */
h1 {
  font-size: 60px;
  font-style: 700;
  color: #575757;
  line-height: 130%;
}
h2 {
  font-size: 40px;
  color: #707070;
  line-height: 54px;
}
h3 {
  font-size: 28px;
  color: #18191f;
}
p {
  font-size: 20px;
  line-height: 32px;
}
/* typography style end */

.flexible-section {
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
}

/* top banner section start  */
.half-width {
  width: 50%;
  padding-left: 3%;
}
.half-width img {
  width: 80%;
}
.blue-color {
  color: #13b5fd;
}
.button-blue {
  display: inline-block;
  color: #fff;
  padding: 24px 32px;
  background: linear-gradient(88.33deg, #13b5fd -7.64%, #000087 145.94%);
  box-shadow: 0px 2px 30px rgba(18, 179, 251, 0.5);
  border-radius: 100px;
  margin-top: 40px;
}
.button-blue:hover {
  background: linear-gradient(88.33deg, #000087 -7.64%, #13b5fd 145.94%);
}
/* top banner section end */

/* about me section start  */
.about-me {
  background-image: url(images/Frame\ .jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6%;
}
.about-me p {
  width: 80%;
}
/* about me section end */
